.popup__input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin: 30px 0 48px;
}

@media screen and (max-width: 500px) {
  .popup__input {
    max-width: 238px;
  }
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}

