.elements {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: 362px;
  grid-auto-rows: 362px;
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
    margin: 0 auto;
    max-width: max-content;
  }
}

@media (max-width: 612px) {
  .elements {
    grid-template-columns: 1fr;
  }
}