.popup__close {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-self: center;
  outline: none;
  background-repeat: no-repeat;
  background-image: url(../../../images/popupClose-big.svg);
  background-position: center;
  order: 2;
  align-self: flex-start;
}

.popup__close:hover {
  opacity: 0.6;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

@media screen and (max-width: 500px) {
  .popup__close {
    order: 1;
    align-self: flex-end;
    margin-bottom: 13.65px;
    background-image: url(../../../images/popupClose-min.svg);
  }
}